body {
	background-color: gray;
}

#myTable {
	width: 300px;
	text-align: center;
	margin-top: 10%;
	margin-left: 20%;
}

#inputTable {
	width: 300px;
	text-align: center;
	margin-top: 10%;
	margin-left: 20%;
}

#end-game {
	font-size: 20px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
}

#reset {
	margin: 5px;
	margin-left: 190px;
}

.wrapper {
	background-color: lightblue;
	padding: 30px;
	margin: 10px;
	height: 1000px;
}

.main {
	background-color: white;
	height: 300px;
	border-right: 1px solid black;
}

.input {
	background-color: white;
	height: 300px;
}

.final {
	background-color: white;
	height: 300px;
	border-top: 1px solid black;
}

section {
	width: 90%;
	margin: 20px;
	height: 40%;
}

@media(max-width: 970px) {
	.main {
		border-right: 0px;
		border-bottom: 1px solid black;
	}

	#myTable {
		margin-top: 100px;
	}
}